/*Universals*/
.bkg-trasparent{
  background-color: transparent;
}

.black-bkg {
  background-color: #000;
}
/*Nav Styles*/
.brand-img {
  width: 45%;
}

.navlogo {
  background-size: contain;
  background-position: left;
}

#brand-box {
  width: 13em;
}
/*Carousel Styles*/
.carousel {
  background-position: center;
  background-size: cover;
}
.item {
  background-position: center;
  background-size: cover;
}

#caro-img-1 {
  height: 26em;
  position: relative;
  left: 30%;
}

.caro-video {
  position: relative;
  left: 27%;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}
/*Social Media Styles*/
#facebook-link {
  color: #3b5998;
}

#youtube-link {
  color: #ff0000;
}

#instagram-link {
  color: #f56040;
}

#twitter-link {
  color: #1da1f2;
}

#vimeo-link {
  color: #1ab7ea;
}
