/*Universals*/
a {
    text-decoration: none;
    color: #fff;
}

/*Header Styles*/
#logo-img {
    height: 150px;
    display: inline-block;
    float: right;
}
nav {
    width: 550px;
    display: inline-block;
}

nav ul {
    width: 300px;
    float: left;
}

nav ul li {
    background-color: #000;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 100px;
}

.home-link{
   position: static; 
}

.home-link:hover {
    color: #99e6ff;
}

.edits-link {
    position: static;
}

.edits-link:hover {
    color: #99e6ff;
}

.about-link {
    position: static;
}

.about-link:hover {
    color: #99e6ff;
}

.contact-link {
    position: static;
}

.contact-link:hover {
    color: #99e6ff;
}
/*Hero Section Styles*/
#hero {
    background-image: url(../img/hero1.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    clear: right;
}

#hero h1 {
    font-size: 55px;
    text-align: center;
    position: relative;
    top: 65px;
    text-shadow: 3px 3px #989898;
    margin-top: 0px;
}
/*Preview Section Styles*/
#preview-section h1 {
    text-align: center;
    margin-bottom: 0px;
}

#preview-section hr {
    height: 10px;
    width: 300px;
    background-color: #000;
    margin-bottom: 0px;
}
/*Column Section Styles*/
.column {
    height: 330px;
    width: 30%;
    float: left;
    padding: 0px 18px;
    position: relative;
}

.column p{
    height: 180px;
    text-align: justify;
    overflow: scroll;
}

.column button {
    color: #fff;
    background-color: #000;
    display: inline-block;
    font-size: 20px;
    padding: 2%;
    border: none;
    border-radius: 7px;
}

#col-1 button {
    clear: both;
}

#col-1 button:hover {
    color: #99e6ff;
}

#col-1 hr {
    height: 10px;
    width: 375px;
    text-align: center;
}

#col-1 h2{
    margin-bottom: 0px;
    text-align: center;
}

#col-2 button:hover {
    color: #99e6ff;
}

#col-2 iframe {
    width: 425px;
}

#col-2 h2 {
    margin-bottom: 0px;
    text-align: center;
}

#col-3 button:hover {
    color: #99e6ff;
}

#col-3 p {
    margin-top: 0px;
}

#col-3 h2 {
    margin-bottom: 0px;
    text-align: center;
}

#col-3 hr {
    margin-bottom: 15px;
    width: 275px;
}

#col-3 .skate-img {
    height: 286px;
}
/*Footer Styles*/
footer{
    background-color: #000;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
    margin-top: 0px;
    height: 80px;
}

#social-media {
    display: inline-block;
    padding: 5px;
}

#facebook-link:hover {
    color: #3e5fa1;
}

#twitter-link:hover {
    color: #0099ff;
}

#twitch-link:hover {
    color: #5900b3;
}